<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="static/styles/main.css">

  <title>Queen Inject Efficiency Visualiser</title>
  <meta name="description" content="Queen Inject Efficiency Plotter">
  <meta name="author" content="frugs">
</head>

<body>

  <h2 class="heading">
    Zerg Macro Cycle Visualiser
  </h2>

  <div>
    Upload a replay to see a visualisation.
  </div>

  <form action="upload" enctype="multipart/form-data" method="post">
    <input id="replay" name="replay" accept=".SC2Replay" type="file">
    <input type="submit" value="Upload">
  </form>

</body>
</html>
